/*整体背景色*/
body{
	background-color: #EDEDED;
}

/*导航*/
.nav-dh{
  height:101px;
  background: #010101;
  border-bottom-color:#8E8E8E;
}
.logo{
  margin-top:15px;
  padding-left: 10px;
}
.logoimg{
  overflow: hidden;
}
.logoimg img{
  position: relative;
  top: -5px;
}
.dh-list{
  margin-top:25px;position: relative;z-index: 10!important;
}
.dh-list .list{
  background: #010101;
}
.dh-list .list li{
  margin-right: 20px;
}
@media(max-width: 414px){
   #nv{
    display: none;
   }
}

/*全部商品信息列表*/
h3,h5{
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: 400;
}
.all{
  /*padding-left: 30px;*/
  line-height: 60px;
  font-size: 14px;
  color: #999999;
}
.all ul li{
  float: left;
  list-style: none;
  margin-right: 20px;
}
.cp-title .cp-img{
  height: 350px;
  margin-bottom: 0;
}
.column{
  margin: 0;
  padding: 0;
}
h3,.p1,.p2{
  text-align: center;
}
h3{
  color: #424242;
}
.p1{
  color: #D0D0D0;
}
.p2{
  color: #D64D44;
  font-weight: bold;
}

/*在手机屏显示时，图片的高度控制*/
@media(max-width: 414px){
  .cp-title .cp-img{
    height: 300px;
    margin-bottom: 0;
  }
}

/*网页结尾*/
.footer .f-end .p1{
  font-size: 40px;
}