/*为body添加背景图片*/
body{
	background-image: url(../img/bg_9b9dcb65ff.png);
}
.logo{
	width: 450px;
	height: 650px;
	background: #FFFFFF;
	border-radius: 10px;
	border: 1px solid #DADADA;
	margin-top: 77px;
}
.logo img{
	display: block;
	margin: 20px auto;
	padding-bottom: 0px;
}
.logo p{
	text-align: center;
	font-family: '楷书';
	font-size: 20px;
}